:root{
  --primary:     #191B22;
  --secondary:   #282C37;
  --terciary:    #313543;
  --highlight:   #444B5D;

  --txt-base:     #FFFFFF;
  --txt-second:   #D9E1E8;

  --lnk-base:     #2D90D9;

  --background:   var(--primary);
  --panel-dark:   var(--secondary);
  --panel-light:  var(--terciary);
  --panel-hl:     var(--highlight);
  --border-dark:  var(--terciary);
  --border-light: var(--highlight);

  --text-st:      var(--txt-base);
  --text-hl:      var(--txt-second);
  --link:         var(--lnk-base);
}
