/* Gallery
 *********************************************************************/
.gallery{
  background-color: transparent;
  display: flex;
  flex-flow: wrap;
  align-items:   flex-start;
  align-content: flex-start;
  padding: 0;
  margin: 0;

  overflow-y: scroll;

  position: absolute;
  top:     0;
  bottom:  var(--bottom-bar-height);
  left:    0;
  right:   0;
}

.gallery-item{
  position: relative;
  width: 33.333333%;
  cursor: pointer;
}
@media screen and (max-width:60px){
  .gallery-item{
    width: 100%;
  }
}

@media screen and (min-width:640px){
  .gallery-item{
    width: 25%;
  }
}

@media screen and (min-width:1200px){
  .gallery-item{
    width: 16.666667%;
  }
}

@media screen and (min-width:1450px){
  .gallery-item{
    width: 14.285714%;
  }
}
.gallery-item:before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 100%;
}
.gallery-item > .gallery-content{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.gallery-image{
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.shadow{
  position: absolute;
  top: 0;
  bottom:0;
  right: 0;
  left: 0;
  background: linear-gradient(transparent,transparent, transparent, #222222);
  transition: opacity 0.35s ease-in;
}

.media-list{
  position: absolute;
  top:0;
  left: 0;
  padding: 0;
  padding-right: 2px;
  padding-left:  2px;
  margin: 0;
  text-decoration: none;
  height: auto;
  background-color: var(--panel-dark);
}
.media-list .layers-icon{
  display: block;
  width:  11px;
  height: 11px;
  margin: 6px;
  padding: 0;
  fill: var(--text-st);
}

.gallery-item .account{
  position: absolute;
  display: inline-block;
  bottom: 0px;
  margin: 10px;
}
.gallery-item a{
  color: var(--text-hl);
}
.hidden{
  opacity: 0;
}

.avatar{
  height: 20px;
  width:  20px;
  border-radius: 100%;
  display: inline-block;
}
.name{
  display: inline-block;
  font-weight: bolder;
  font-size: 0.8rem;
  margin: 0;
  padding: 0;
}
@media screen and (min-width: 640px){
  .avatar{
    height: 2em;
    width:  2em;
  }
  .name{
    font-size: 1rem;
  }
}
@media screen and (min-width:1200px){
  .avatar{
    height: 3em;
    width:  3em;
  }
}
