body{
  width: 100%;
  padding: 0;
  margin: 0;
  font-family: "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;
  color: var(--text-st);
  background-color: var(--background);
  --bottom-bar-height: 1.7rem;
}
html, body { /*TODO CHECK IF IT BREAKS GALLERY*/
  height: 100%;
}
a{
  color: var(--link);
  text-decoration: none;
}


#infobar{
  border-top-width: 1px;
  border-top-style: solid;
  border-color: var(--border-light);
  background-color: var(--panel-light);

  position: fixed;
  bottom: 0;
  width:  100%;
  height: var(--bottom-bar-height);

  z-index: 2;

  text-align: right;
}


#infobar span{
  font-size: 0.6rem;
}

.container{
  width: 90%;
  margin: auto;
}
@media screen and (min-width: 640px){
  .container{
    width: 80%;
    margin: auto;
  }
}
@media screen and (min-width:1200px){
  .container{
    width: 70%;
    margin: auto;
  }
}


