/* Post page
 *********************************************************************/
.fullwidth{
  height:     auto;
  max-width:  100%;
}

.post{
  background-color: var(--background);
  position: absolute;
  top:     0;
  bottom:  var(--bottom-bar-height);
  left:    0;
  right:   0;

  overflow: auto;

  display: flex;
  flex-direction: column;
}

.post .media-column{
  display: flex;
  flex-direction: column;
  align-items: stretch;

  text-align: center;

  flex-grow: 1;
  flex-shrink: 1;
}

.post .data-column{
  background-color: var(--panel-dark);
  border-width: 1px;

  padding: 20px;

  border-top-style: solid;
  border-top-color: var(--border-dark);
}

@media screen and (min-width:800px){
  .post{
    align-items: stretch;
    z-index: 1;
    flex-direction: row;
  }
  .post .media-column{
    min-width: 400px;

    overflow: auto;
  }

  .post .data-column{
    min-width: 400px;
    max-width: 400px;
    width:     400px;

    flex-grow: 0;
    flex-shrink: 0;

    border-left-style: solid;
    border-left-color: var(--border-dark);

    overflow: auto;
  }
}
/* Data column */
.data-column .toolbar{
  width: 100%;
  margin-bottom: 20px;
  text-align: right;
}
.data-column button.exit{
  background-color: var(--panel-dark);
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  border-color: var(--border-light);
  color: var(--link);
  cursor: pointer;
}

/* Toot */
.data-column .toot{
  margin-top:    30px;
  margin-bottom: 30px;
}
.data-column .toot .toot-info{
}

/* Account card for post page */
.account-card {
  display: flex;
  align-items:   start;
  margin-top:     30px;
  margin-bottom:  30px;
}
.account-card .avatar{
  height: 60px;
  width: auto;
  margin-right: 20px;
}

.account-card .follow{
  font-weight: bold;
}

.username{
  margin: 0;
  color: var(--text-hl);
}

/* Threads */
.thread{
  padding: 10px;
  background-color: var(--panel-light);
}
.thread .answer{
  margin-bottom: 10px;
  margin-top:    10px;
  display: flex;
}
.thread .answer .answer-body{
  margin-left: 20px;
}
.answer-body .username{
  margin: 0;
}
.answer-body p{
  margin: 0;
}
